extends ../../common/pug/page-template

block title
  title Landing page

block content
  body.landing-page
    header.header
      nav.header__navbar
        a.header__home-link(href='/')
          svg.logo
            use(xlink:href="#logo")

        .header__menu-content
          ul.header__menu
            li.header__item.header__item_active
              a.header__link(href='/about' title='О нас') О нас
            li.header__item.header__submenu
              a.header__link(href='/serivices' title='Услуги') Услуги
                svg.header__submenu-icon
                  use(href = '#expand-more')
              .header__submenu-content
                .header__submenu-wrap
                  ul.header__submenu-list
                    li.header__submenu-item
                      a.header__link.header__submenu-link(href='#' title='Service 1') Service 1
                    li.header__submenu-item
                      a.header__link.header__submenu-link(href='#' title='Service 2') Service 2
                    li.header__submenu-item
                      a.header__link.header__submenu-link(href='#' title='Service 3') Service 3
            li.header__item
              a.header__link(href='#' title='Вакансии') Вакансии
            li.header__item
              a.header__link(href='#' title='Новости') Новости
            li.header__item.header__submenu
              a.header__link(href='#' title='Соглашения') Соглашения
                svg.header__submenu-icon
                  use(href = '#expand-more')
              .header__submenu-content
                .header__submenu-wrap
                  ul.header__submenu-list
                    li.header__submenu-item
                      a.header__link.header__submenu-link(href='#' title='Соглашение 1') Соглашение 1
                    li.header__submenu-item
                      a.header__link.header__submenu-link(href='#' title='Соглашение 2') Соглашение 2
                    li.header__submenu-item
                      a.header__link.header__submenu-link(href='#' title='Соглашение 3') Соглашение 3
          .header__menu-buttons
            button.btn.edged-btn.header__btn(type = 'button')
              span.btn__text Войти
            button.btn.filled-btn.header__btn(type = 'button')
              span.btn__text Зарегестрироваться

        .header__buttons
          button.btn.edged-btn.header__btn.header__login-btn(type = 'button')
            span.btn__text Войти
          button.btn.filled-btn.header__btn.header__register-btn(type = 'button')
            span.btn__text Зарегестрироваться

        a.header__user(href='#profile')
          span.header__user-name Юлий Цезарь

        button.btn.hamburger.hamburger_type_slider.header__toggler
          span.hamburger__box
            span.hamburger__inner

    section.landing-page__intro
      .landing-page__intro-wrap
        .search-block.landing-page__search-block
          h4.h1.search-block__title Найдём номера под ваши пожелания
          .date-dropdown.plain-dropdown.search-block__date-dropdown
            .date-dropdown__fields
              .date-dropdown__field
                h4.h3.date-dropdown__title прибытие
                .input.plain-dropdown__toggle
                  input.input__control.date-dropdown__date(data-date="arrival" placeholder = 'ДД.ММ.ГГГГ' type = 'text')
                  svg.date-dropdown__icon
                    use(href='#expand-more')
              .date-dropdown__field
                h4.h3.date-dropdown__title выезд
                .input.plain-dropdown__toggle
                  input.input__control.date-dropdown__date(data-date="depurture" placeholder = 'ДД.ММ.ГГГГ' type = 'text')
                  svg.date-dropdown__icon
                    use(href='#expand-more')
            .date-dropdown__content
              .date-dropdown__calendar.calendar
                .calendar__datepicker
                .calendar__buttons
                  button.btn.text-btn.text-btn_dark.calendar__clear-btn(type = 'button')
                    span.btn__text очистить
                  button.btn.text-btn.text-btn_purple.calendar__apply-btn(type = 'button')
                    span.btn__text применить
          .dropdown-field.search-block__dropdown-field
            h4.h3.dropdown-field__title гости
            .items-dropdown.plain-dropdown(data-dropdown-type='guests')
              .input.plain-dropdown__toggle
                input.input__control.items-dropdown__control(type = 'text' data-placeholder = 'Сколько гостей' readOnly)
                svg.items-dropdown__icon
                  use(href='#expand-more')
              .items-dropdown__content
                ul.items-dropdown__list
                  li.items-dropdown__item
                    span.items-dropdown__item-name Взрослые
                    .counter.items-dropdown__counter
                      button.btn.round-btn.counter__btn(data-operator = "minus" type='button')
                        span.btn__text.round-btn__text -
                      input.counter__control(type='number' min="0" value="0" name="взрослые")
                      button.btn.round-btn.counter__btn(data-operator = "plus" type='button')
                        span.btn__text.round-btn__text +
                  li.items-dropdown__item
                    span.items-dropdown__item-name Дети
                    .counter.items-dropdown__counter
                      button.btn.round-btn.counter__btn(data-operator = "minus" type='button')
                        span.btn__text.round-btn__text -
                      input.counter__control(type='number' min="0" value="0" name="дети")
                      button.btn.round-btn.counter__btn(data-operator = "plus" type='button')
                        span.btn__text.round-btn__text +
                  li.items-dropdown__item
                    span.items-dropdown__item-name Младенцы
                    .counter.items-dropdown__counter
                      button.btn.round-btn.counter__btn(data-operator = "minus" type='button')
                        span.btn__text.round-btn__text -
                      input.counter__control(type='number' min="0" value="0" name="младенцы")
                      button.btn.round-btn.counter__btn(data-operator = "plus" type='button')
                        span.btn__text.round-btn__text +
                .items-dropdown__controls
                  button.btn.text-btn.text-btn_dark.items-dropdown__clear-btn(type = 'button')
                    span.btn__text очистить
                  button.btn.text-btn.text-btn_purple.items-dropdown__apply-btn(type = 'button')
                    span.btn__text применить
          button.btn.btn_width_available.filled-btn.action-btn(type = 'button')
            span.btn__text Подобрать номер
            svg.action-btn__icon
              use(href='#arrow')
              
        p.landing-page__intro-text Лучшие номера для вашей работы, отдыха и просто вдохновения

    footer.footer
      .footer__content
        .grid
          .row 
            .column.column_lg_3.footer__logo-section
              a.footer__home-link(href='/')
                svg.logo
                  use(xlink:href="#logo")
              p.footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .column.column_lg_6.footer__links-section
              .row
                .column.column_6.column_sm_4
                  h4.footer__title Навигация
                  ul.footer__list
                    li.footer__item
                      a.footer__link(href='#') О нас
                    li.footer__item
                      a.footer__link(href='#') Новости
                    li.footer__item
                      a.footer__link(href='#') Служба поддержки
                    li.footer__item
                      a.footer__link(href='#') Услуги
                .column.column_6.column_sm_4
                  h4.footer__title О нас
                  ul.footer__list
                    li.footer__item
                      a.footer__link(href='#') О сервисе
                    li.footer__item
                      a.footer__link(href='#') Наша команда
                    li.footer__item
                      a.footer__link(href='#') Вакансии
                    li.footer__item
                      a.footer__link(href='#') Инвесторы
                .column.column_6.column_sm_4
                  h4.footer__title Служба поддержки
                  ul.footer__list
                    li.footer__item
                      a.footer__link(href='#') Соглашение
                    li.footer__item
                      a.footer__link(href='#') Сообщества
                    li.footer__item
                      a.footer__link(href='#') Связь с нами
            .column.column_lg_3.footer__subscribe-section
              h4.footer__title Подписка
              p.footer__subscribe-text Получайте специальные предложения и новости сервиса
              .input.subscription-input.footer__subscription-input
                input.input__control.subscription-input__control(type = 'email' placeholder = 'Email')
                svg.subscription-input__icon
                  use(href='#arrow')
      .footer__copyright
        .footer__copyright-wrap
          p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
          .social-links.footer__social-links
            a.social-links__item(href='#')
              svg.social-links__icon
                use(xlink:href="#twitter")
            a.social-links__item(href='#')
              svg.social-links__icon
                use(xlink:href="#facebook")
            a.social-links__item(href='#')
              svg.social-links__icon
                use(xlink:href="#instagram")
