@import '~scss/vars';
@import '~scss/utils/grid';
@import '~node-modules/sass-rem/rem';

.landing-page {
  &__intro{
    max-width: 1440px;
    margin: 0 auto;
    background: url('~images/landing-page/1.jpg') top center no-repeat;
    background-size: cover;
  }

  &__intro-wrap{
    max-width: 1200px;
    padding: 70px 20px 20px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    min-height: calc(100vh - 100px);
  }

  &__search-block{
    max-width: 380px;
    margin-bottom: auto;
  }
  &__intro-text{
    max-width: 300px;
    text-align: right;
    align-self: flex-end;
    margin-right: -6px;
  }
}