@import '~scss/vars';
@import '~node-modules/sass-rem/rem';

.search-block{
  padding: 41px 29px 27px;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title{
    margin: 0 0 rem(20px);
  }

  &__date-dropdown{
    margin-bottom: rem(22px);
  }
  
  &__dropdown-field{
    margin-bottom: rem(32px);
  }
}