extends ../../common/pug/page-template

block title
  title Ссылки

block content
  body.links__main
    h1.h1.links__title Cтраницы:
    ol.links__list
      li.links__item
        a(href="http://localhost:3000/colors.html") Colors
      li.links__item
        a(href="http://localhost:3000/form-elements.html") Form-elements
      li.links__item
        a(href="http://localhost:3000/cards.html") Cards
      li.links__item
        a(href="http://localhost:3000/headers-and-footers.html") Headers and footers
      li.links__item
        a(href="http://localhost:3000/landing-page.html") Landing page
      li.links__item
        a(href="http://localhost:3000/registration.html") Registration
      li.links__item
        a(href="http://localhost:3000/room-details.html") Room-details
      li.links__item
        a(href="http://localhost:3000/search-room.html") Search-room